body {
    font-family: 'Lora', sans-serif;
    margin: auto;
    max-width: 55em;
    background-color: floralwhite;
}

#page-title {
    text-align: center;
}

#page-title h1 a {
    color: black;
    font-size: 2.7rem;
}

/* Front page listing */
.post a {
    color: black;
}

.blog-post-content a {
    color: black;
    text-decoration: underline;
}

#author-name h6 a {
    color: black;
    font-weight: normal;
    font-size: small;
}

#page-title a:hover, .post a:hover {
    text-decoration: underline;
}

.date-time-title {
    font-family: 'Lora', monospace;
}

.blog-post-content {
    padding-top: 1em;
    padding-bottom: 1em;
}

.posts_listing li {
    list-style-type: none;
}

h1 {
    font-size: 2.0rem;
}

h2 {
    display: list-item;
    list-style-type: circle;
    list-style-position: inside;
    font-size: 1.5rem;
}

h3 {
    font-size: 1.3rem;
}

h4  {
    font-size: 1.1rem;
}

h5  {
    font-size: 1rem;
}

h6  {
    font-size: 0.8rem;
}


code {
    font-family: 'Inconsolata', monospace;
    font-size: 1rem;
    white-space: pre;
    overflow-x: auto;
}

blockquote {
    position: relative;
    border-radius: 0.8em;
    font-family: 'EB Garamond';
    font-style: italic;
    text-align: normal;
    padding: 2rem 2rem 0.5rem;
    width: 90%;  /* create space for the quotes */
    margin: 0.5rem auto 0.5rem;
    background: #E8E8E8;
}

/* blockquote p:first-of-type:before { */
/*         content: '\201c'; */
/*         position: absolute; */
/*         left: -.5em; */
/* } */

/* blockquote p:last-of-type:after { */
/*         content: '\201d'; */
/*         position: absolute; */
/* } */


blockquote:before{
    position: absolute;
    content: '\201c';
    font-size: 3rem;
    margin-left: -1.5rem;
    margin-top: -2.0rem;
}

/* blockquote:after{ */
/*     content: '\201d'; */
/*     font-style: bold; */
/*     font-size: 20px; */
/*     text-align: right; */
/*     float:right; */
/* } */

pre {
    overflow-x: auto;
    padding-left: 5px;
    padding-right: 5px;
    border: 1px solid lighten(#111, 90);
    background-color: #efefef
}

.word {
    text-align: right;
    color: black;
    font-style: italic;
}
